@use "../../../styles//breakpoints.scss" as *;

.container {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include respond-to(sm) {
    max-width: 300px;
  }

  p {
    margin: 2rem 0;
    font-size: 0.85rem;
    line-height: 1.25rem;
    color: var(--gray-700);

    @include respond-to(sm) {
      margin: 3rem 0;
    }
  }

  h5 {
    margin: 0.5rem 0;
    font-weight: 900;
  }

  span {
    font-size: 0.75rem;
    color: var(--gray-200);
  }
}

.profile {
  border-radius: 50%;
}
