.banner {
	position: relative;

	h1 {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: var(--white);
		letter-spacing: 0.25rem;
	}

	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@media (max-width: 375px) {
	}

}