@use "../../../styles/breakpoints.scss" as *;

.container {
  position: relative;
  width: 100%;
  min-height: 618px;

  @include respond-to(sm) {
    width: 50%;
    height: 548px;
  }
}

.content {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 312px;
  opacity: 0.7;

  h1 {
    font-weight: 900;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}
