@use "../../../styles/breakpoints.scss" as *;

.container {
  display: flex;
  flex-direction: column-reverse;

  @include respond-to(sm) {
    flex-direction: row;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2rem;
  max-width: 268px;
  margin: auto;
  padding: 3rem 0;
  text-align: center;

  @include respond-to(sm) {
    text-align: left;
    min-height: 540px;
    max-width: 360px;
  }

  h1 {
    margin: 0;
    font-size: xx-large;
    font-weight: 900;
  }

  p {
    margin: 0;
    color: var(--gray-600);
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}

.link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 0.75rem;

  span {
    position: relative;
  }

  span::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -8px;
    width: 100%;
    padding: 0 4px;
    border: solid 4px;
    border-radius: 0.5rem;
  }
}

.yellow {
  span::after {
    border-color: hsla(51, 100%, 49%, 0.2);
  }
}

.pink {
  span::after {
    border-color: hsl(7, 99%, 70%, 0.2);
  }
}

.image {
  position: relative;
  min-height: 318px;
  width: 100%;

  @include respond-to(sm) {
    max-width: 50%;
  }
}
