.container {
  background-color: var(--green-400);
  padding: 3rem;
  text-align: center;
}

.logo {
  filter: brightness(0) saturate(100%) invert(36%) sepia(32%) saturate(768%)
    hue-rotate(116deg) brightness(93%) contrast(87%);
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;

  li {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--green-500);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--white);
    }
  }
}
