.container {
  background-color: hsla(168, 34%, 41%, 0.5);
  padding: 3rem;
  text-align: center;
}

.logo {
  filter: brightness(0) saturate(100%) invert(26%) sepia(5%) saturate(3958%)
    hue-rotate(116deg) brightness(107%) contrast(92%);
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;

  li {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--green-500);
  }
}
