.container {
  padding: 6.5rem 3rem;
  text-align: center;

  h4 {
    color: var(--gray-200);
    letter-spacing: 0.2rem;
  }
}

.clients {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
}
