@use "../../styles/breakpoints.scss" as *;

.container {
  position: relative;

  h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 2.25rem;
    letter-spacing: 0.35rem;
    text-align: center;
    min-width: 100%;

    @include respond-to(sm) {
      top: 25%;
    }
  }
}

.icon-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include respond-to(sm) {
    top: 51%;
  }
}
